[Unit]
Description=Caddy
After=network.target

[Service]
User=root
WorkingDirectory=/data/caddy
ExecStart=/data/caddy/caddy run --config /data/caddy/Caddyfile
Restart=on-failure
RestartSec=42s
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full
#AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
